.textArea {
  border-radius: 8px;
  min-height: 150px;
  padding: 10px 10px;
  width: 400px;
  font-size: 13px;
}

.wrapper {
  box-shadow: 0.2px 0.2px 10px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 20px;
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}
