.container {
  display: flex;
  padding-top: 50px;
  gap: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  text-align: center;
  padding-top: 50px;
}

.bold {
  font-weight: bold;
  color: #000
}
